<section class="app">
  APP EXCLUSIVE! <br>
  GET 20% OFF EVERYTHING * <br>
  Download now
</section> 

<section class="delivery">
  <div class="message-one">We've extended returns to 90 days & made delivery safer</div>
  <div class="message-two">-so you can carry on enjoying Asos</div>
</section>


<section class="sale-box" data-aos="fade-out">
  <div class="message-three">SALE</div>
  <div class="message-four">UP TO 50% OFF</div>
  <div class="carousel">
    <a [routerLink]="[ '/men-sale/shoes']">
      <div class="card">
        <img src="../../../assets/13337204-1-offwhite.jpg" style="width:100%">
        <div class="title">SHOES & TRAINERS</div>
      </div>
    </a>
    <a [routerLink]="[ '/men-sale/jackets']">
      <div class="card">
        <img src="../../../assets/jacket-denim.jpg" style="width:100%">
        <div class="title">JACKETS</div>
      </div>
    </a>
    <a [routerLink]="[ '/men-sale/hoodies']">
      <div class="card">
        <img src="../../../assets/14030340-1-navy.jpg" style="width:100%">
        <div class="title">HOODIES</div>
      </div>
    </a>
    <a [routerLink]="[ '/men-sale/jeans']">
      <div class="card">
        <img src="../../../assets/13229489-1-midwashvintage.jpg" style="width:100%">
        <div class="title">JEANS</div>
      </div>
    </a>
    <a [routerLink]="[ '/men-sale/jewellery']">
      <div class="card">
        <img src="../../../assets/14775307-1-gold.jpg" style="width:100%">
        <div class="title">JEWELLERY</div>
      </div>
    </a>
  </div>
  <a [routerLink]="[ '/men-sale']">
    <div class="show-all">
      VIEW ALL
    </div>
  </a>
  <div class="some-text">Selected styles marked down as shown</div>
</section>


<a [routerLink]="[ '/men-new']">
  <section class="new-box"  data-aos="fade-out" data-aos-offset="300"
  data-aos-easing="ease-in-sine">
    <div class="new-box-image">
      <div class="new-box-text">New staff to scroll</div>
      <div class="start-now">SHOP NOW</div>
    </div>
  </section>
</a>


<section class="some-staff">
 
    <div class="big-card"  data-aos="fade-right">
      <a [routerLink]="[ '/men-accessories/watches']">
      <img src="../../../assets/clock.jpg" style="width:100%">
      <div class="big-title">Cool Gifts</div>
      </a>
    </div>
 

  
    <div class="big-card" data-aos="fade-right"> 
      <a [routerLink]="[ '/men-clothing/jackets']">  
      <img src="../../../assets/fffff.jpeg" style="width:100%">
      <div class="big-title">Fun staff</div>
      </a> 
    </div>


  
  
    <div class="big-card" data-aos="fade-left">
      <a [routerLink]="[ '/men-clothing/hoodies']">
      <img src="../../../assets/hoodie.jpeg" style="width:100%">
      <div class="big-title">Stylish hoodies</div>
      </a>
    </div>
 
  
    <div class="big-card" data-aos="fade-left">
      <a [routerLink]="[ '/men-shoes/sneakers']">
      <img src="../../../assets/sneak.jpeg" style="width:100%">
      <div class="big-title">Sneak sneak</div>
    </a>
    </div>
  
</section>

<section class="fun-staff">

  <div class="bigger-card"  data-aos="fade-right" data-aos-easing="linear"
  data-aos-duration="500"> 
    <a [routerLink]="[ '/men-clothing/suits']">
      <img src="../../../assets/suits.jpeg" alt="" width="100%">
    </a>
    <div class="desc-one">SUITS</div>
    <div class="desc-two">Stay-clussy</div>
    <a [routerLink]="[ '/men-clothing/suits']" style="display: flex; justify-content: center;">
      <div class="btn-active-wear" >SHOP SUITS</div>
    </a>
  </div>

  <div class="bigger-card" data-aos="fade-left" data-aos-easing="linear"
  data-aos-duration="500">
    <a [routerLink]="[ '/men-accessories/jewellery']">
      <img src="../../../assets/guy.jpeg" alt="" width="100%">
    </a>
    <div class="desc-one">ELLESE X SMILEY</div>
    <div class="desc-two">Happy vibes</div>
    <a  [routerLink]="[ '/men-accessories/jewellery']" style="display: flex; justify-content: center;">
      <div class="btn-active-wear">SHOP NOW</div>
    </a>
  </div>
</section>


<section class="logo-brands">
  <div class="title-logo" data-aos="fade-down"
                          data-aos-easing="linear"
                          data-aos-duration="1000">TRENDING BRANDS</div>
  <div class="list-logo">
    <div class="card-logo">
      <a [routerLink]="[ '/men-azbrands/hilfiger']">
        <img src="../../../assets/tommy.jpeg" alt="" width="100%">
      </a>
    </div>
    <div class="card-logo">
      <a [routerLink]="[ '/men-azbrands/northface']">
        <img src="../../../assets/north.jpeg" alt="" width="100%">
      </a>
    </div>
    <div class="card-logo">
      <a [routerLink]="[ '/men-azbrands/nike']">
        <img src="../../../assets/nike.jpeg" alt="" width="100%">
      </a>
    </div>
    <div class="card-logo">
      <a [routerLink]="[ '/men-azbrands/carhart']">
        <img src="../../../assets/carhartt.jpeg" alt="" width="100%">
      </a>
    </div>
    <div class="card-logo">
      <a [routerLink]="[ '/men-azbrands/ellesse']">
        <img src="../../../assets/ellesse.jpeg" alt="" width="100%">
      </a>
    </div>
    <div class="card-logo">
      <a [routerLink]="[ '/men-azbrands/dr.martens']">
        <img src="../../../assets/martens.jpeg" alt="" width="100%">
     </a>
    </div>
  </div>
</section>


