<footer>
  <div class="asos-lab">@2020 ASOS</div>
  <div class="divider"></div>
  <section class="social-block">
    <div class="media-block">
      <div class="m-icon">
        <img src="../../../assets/face.png" alt="" width="100%">
      </div>
      <div class="m-icon">
        <img src="../../../assets/inst.jpeg" alt="" width="100%">
      </div>
      <div class="m-icon">
        <img src="../../../assets/snap.jpeg" alt="" width="100%">
      </div>
      <div class="m-icon">
        <span></span>
      </div>
      <div class="b-icon">
        <img src="../../../assets/visa.jpeg" alt="" width="100%">
      </div>
      <div class="b-icon">
        <img src="../../../assets/master.jpeg" alt="" width="100%">
      </div>
      <div class="b-icon">
        <img src="../../../assets/paypal.jpeg" alt="" width="100%">
      </div>
      <div class="b-icon">
        <img src="../../../assets/electron.jpeg" alt="" width="100%">
      </div>
    </div>
  </section>
  <section class="info">
    <div class="help">
      <h3>HELP & INFORMATION</h3>
      <ul>
        <li><a href="">Help</a></li>
        <li><a href="">Track Order</a></li>
        <li><a href="">Delivery & Returns</a></li>
        <li><a href="">10% Students Discount</a></li>
      </ul>
    </div>
    <div class="about">
      <h3>ABOUT ASOS</h3>
      <ul>
        <li><a href="">About Us</a></li>
        <li><a href="">Careers at ASOS</a></li>
        <li><a href="">Corporate Responsibility</a></li>
        <li><a href="">Investor Site</a></li>
      </ul>
    </div>
    <div class="more-info">
      <h3>MORE FROM ASOS</h3>
      <ul>
        <li><a href="">Mobile & ASOS Apps</a></li>
        <li><a href="">ASOS Marketplace</a></li>
        <li><a href="">Gift vouchers</a></li>
      </ul>
    </div>
    <div class="location">
      <h3>SHOPPING FROM</h3>
      <div class="line">
        <div>You're in</div>
        <div class="country">
          <img src="../../../assets/ua.jpeg" alt="" width="100%">
        </div>
        <span></span>
        <a href="">
          <p><strong>CHANGE</strong></p>
        </a>
      </div>
    </div>
  </section>
</footer>
