<section class="app">
    APP EXCLUSIVE! <br>
    GET 20% OFF EVERYTHING * <br>
    Download now
  </section> 
  
  <section class="delivery">
    <div class="message-one">We've extended returns to 90 days & made delivery safer</div>
    <div class="message-two">-so you can carry on enjoying Asos</div>
  </section>
  
  
  <section class="sale-box" data-aos="fade-out">
    <div class="message-three">SALE</div>
    <div class="message-four">UP TO 50% OFF</div>
    <div class="carousel">
      <a [routerLink]="[ '/women-sale/dresses']">
        <div class="card">
          <img src="../../../assets/women1.jpeg" style="width:100%">
          <div class="title">DRESSES</div>
        </div>
      </a>
      <a [routerLink]="[ '/women-sale/hoodies']">
        <div class="card">
          <img src="../../../assets/women2.jpeg" style="width:100%">
          <div class="title">HOODIES</div>
        </div>
      </a>
      <a [routerLink]="[ '/women-sale/coats']">
        <div class="card">
          <img src="../../../assets/12659665-1-tan.jpg" style="width:100%">
          <div class="title">COATS</div>
        </div>
      </a>
      <a [routerLink]="[ '/women-sale/shoes']">
        <div class="card">
          <img src="../../../assets/women4.jpeg" style="width:100%">
          <div class="title">SHOES</div>
        </div>
      </a>
      <a [routerLink]="[ '/women-sale/jeans']">
        <div class="card">
          <img src="../../../assets/women6.jpg" style="width:100%">
          <div class="title">JEANS</div>
        </div>
      </a>
    </div>
    <a [routerLink]="[ '/women-all-sale']">
      <div class="show-all">
        VIEW ALL
      </div>
    </a>
    <div class="some-text">Selected styles marked down as shown</div>
  </section>
  
  
  <a [routerLink]="[ '/women-new']">
    <section class="new-box"  data-aos="fade-out" data-aos-offset="300"
    data-aos-easing="ease-in-sine">
      <div class="new-box-image">
        <div class="new-box-text">New staff to scroll</div>
        <div class="start-now">SHOP NOW</div>
      </div>
    </section>
  </a>
  
  <section class="some-staff">
    
      <div class="big-card" data-aos="fade-right">
        <a [routerLink]="[ '/women-all-accessories']">
        <img src="../../../assets/women-acc.jpeg" style="width:100%">
        <div class="big-title">Cool accessories</div>
        </a>
      </div>
    
    
      <div class="big-card" data-aos="fade-right">
        <a [routerLink]="[ '/women-all-clothing']">
        <img src="../../../assets/women12.jpg" style="width:100%">
        <div class="big-title">Find your style</div>
        </a>
      </div>
    
    
      <div class="big-card" data-aos="fade-left">
        <a [routerLink]="[ '/women-clothing/coats']">
        <img src="../../../assets/women-coat.jpeg" style="width:100%">
        <div class="big-title">Stylish coats</div>
        </a>
      </div>
   
    
      <div class="big-card" data-aos="fade-left">
        <a [routerLink]="[ '/women-all-shoes']">
        <img src="../../../assets/women14.jpeg" style="width:100%">
        <div class="big-title">Sneakers</div>
        </a>
      </div>
  </section>
  
  <section class="fun-staff">
  
    <div class="bigger-card" data-aos="fade-right" data-aos-easing="linear"
    data-aos-duration="500">
      <a [routerLink]="[ '/women-azbrands/nike']">
        <img src="../../../assets/women15.jpeg" alt="" width="100%">
      </a>
      <div class="desc-one">NIKE</div>
      <div class="desc-two">Special for you,Lady</div>
      <a [routerLink]="[ '/women-azbrands/nike']" style="display: flex; justify-content: center;">
        <div class="btn-active-wear">SHOP YOUR NIKE</div>
      </a>
    </div>
  
    <div class="bigger-card"  data-aos="fade-left" data-aos-easing="linear"
    data-aos-duration="500">
      <a [routerLink]="[ '/women-all-azbrands']">
        <img src="../../../assets/women17.jpeg" alt="" width="100%">
      </a>
      <div class="desc-one">FIND YOUR BRAND</div>
      <div class="desc-two">Happy vibes</div>
      <a [routerLink]="[ '/women-all-azbrands']" style="display: flex; justify-content: center;">
        <div class="btn-active-wear">SHOP NOW</div>
      </a>
    </div>
  </section>
  
  
  <section class="logo-brands">
    <div class="title-logo" data-aos="fade-down"
                            data-aos-easing="linear"
                            data-aos-duration="1000">TRENDING BRANDS</div>
    <div class="list-logo">
      <div class="card-logo">
        <a [routerLink]="[ '/women-azbrands/monki']">
          <img src="../../../assets/women19.jpeg" alt="" width="100%">
        </a>
      </div>
      <div class="card-logo">
        <a [routerLink]="[ '/women-azbrands/never fully dressed']">
          <img src="../../../assets/women20.jpeg" alt="" width="100%">
        </a>
      </div>
      <div class="card-logo">
        <a [routerLink]="[ '/women-azbrands/collusion']">
          <img src="../../../assets/women22.jpeg" alt="" width="100%">
        </a>
      </div>
      <div class="card-logo">
        <a [routerLink]="[ '/women-azbrands/reclaimed vintage']">
          <img src="../../../assets/women23.jpeg" alt="" width="100%">
        </a>
      </div>
      <div class="card-logo">
        <a [routerLink]="[ '/women-azbrands/topshop']">
          <img src="../../../assets/women24.jpeg" alt="" width="100%">
        </a>
      </div>
      <div class="card-logo">
        <a [routerLink]="[ '/women-azbrands/weekday']">
          <img src="../../../assets/women25.jpeg" alt="" width="100%">
       </a>
      </div>
    </div>
  </section>
  

 

