*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100%;
  min-height: 100vh;
}

.app {
  width: 100%;
  min-height: 50px;
  background-color: rgb(187, 167, 249);
  text-align: center;
  font-weight: bold;
}
.way{
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: white;
  color: rgb(110, 106, 106);
  padding: 0 20px 0 20px;
  a{
      text-decoration: none;
      color: rgb(110, 106, 106);
      &:visited{
        color: rgb(110, 106, 106);
      }
    }
}
.description{
  width: 100%;
  /* height: 70px; */
  min-height: 70px;
  background-color:#eee;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 5px;
}
.description>div{
  width: 80%;
  height: 100%;
  text-align: center;
  padding: 20px;
  font-size: 17px;
  p{
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 25px;
  }
}

.filter{
  width: 100%;
  /* height: 70px; */
  min-height: 20px;
  padding: 20px;
  background-color: silver;
  display: flex;
  justify-content: space-around;
  align-items: center;
  p{
    font-size: 19px;
  }
  select{
    width: 120px;
    padding: 4px;
    option{
      text-align: center;
    }
  }
}
.list-product{
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 1em;
  padding: 1em;
}
.card-product{
  width: 100%;
  min-height: 10px;
  img{
    max-width: 100%;
    display: block;
  }
  img:hover{
      transform: scaleX(-1);
  }

  a{
    color: black;
    text-decoration: none;
  }
}

.prod-name{
width: 100%;
/*  height: 50px; */
min-height: 10px;
font-style: 15px;
padding-top: 3px;
}

.prod-price{
width: 100%;
font-size: 17px;
font-weight: bold;
}

.show-more{
  width: 170px;
  height: 45px;
  background-color: white;
  color: black;
  text-align: center;
  line-height: 45px;
  font-weight: bold;
  margin: 0 auto 40px;
  z-index: 3;
  transition: 1s;
  border: 2px solid black;

  &:hover {
    background-color: black;
    color: white;
  }
}

.favor{
width: 24px;
height: 24px;
padding: 2px;
img{
  background-color: red;
  border: 2px solid red;
}

}
.wrap-fav{
height: 30px;
width: 100%;
display: flex;
justify-content: space-between;
padding: 2px;
}
.prod-price{
width: 50%;
line-height: 24px;
}
.greenClass{
background-color: green;
}

@media(min-width:500px) and (max-width:800px) {

.list-product{
  grid-template-columns: repeat(3,1fr);
}
.filter{
  padding: 20px 5px 20px 5px;
  select{
    width: 75px;
  }
}
}

@media(min-width:400px) and (max-width:500px) {

 .list-product{
  grid-template-columns: repeat(2,1fr);
}
.filter{
  padding: 20px 5px 20px 5px;
  p{
    font-size: 17px;
  }
  select{
    width: 55px;
  }
}

}


@media(min-width:320px) and (max-width:400px) {
.list-product{
  grid-template-columns: repeat(1, 1fr);
}
.filter{
  flex-direction:column;
  padding: 20px 5px 20px 5px;
  p{
    font-size: 20px;
  }
  select{
    width: 80%;
  }
}
}
