
<form action="">
    <label for="typeProduct">
        <input type="text" [(ngModel)]="typeProduct" name="typeProduct" placeholder="type">
    </label>
    <label for="genderSale">
        <input type="text" [(ngModel)]="genderSale" name="genderSale" placeholder="gender">
    </label>
    <label for="categorySale">
        <input type="text" [(ngModel)]="categorySale" name="categorySale" placeholder="category">
    </label>
    <label for="stylishSale">
        <input type="text" [(ngModel)]="stylishSale" name="stylishSale" placeholder="style">
    </label>
    <label for="nameSale">
        <input type="text" [(ngModel)]="nameSale" name="nameSale" placeholder="name">
    </label>
    <label for="brandSale">
        <input type="text" [(ngModel)]="brandSale" name="brandSale" placeholder="brand">
    </label>
    <label for="priceSale">
        <input type="number" [(ngModel)]="priceSale" name="priceSale" placeholder="price">
    </label>
    <label for="descriptionSale">
        <input type="text" [(ngModel)]="descriptionSale" name="descriptionSale" placeholder="description">
    </label>
    <label for="colorSale">
        <input type="text" [(ngModel)]="colorSale" name="colorSale" placeholder="color">
    </label>
    <label for="firstSizeSale">
        <input type="text" [(ngModel)]="firstSizeSale" name="firstSizeSale" placeholder="size1">
    </label>
    <label for="secondSizeSale">
        <input type="text" [(ngModel)]="secondSizeSale" name="secondSizeSale" placeholder="size2">
    </label>
    <label for="thirdSizeSale">
        <input type="text" [(ngModel)]="thirdSizeSale" name="thirdSizeSale" placeholder="size3">
    </label>
    <label for="fourthSizeSale">
        <input type="text" [(ngModel)]="fourthSizeSale" name="fourthSizeSale" placeholder="size4">
    </label>
    
    <input type="file" name="file" id="file" (change)="uploadFile($event)" class="inputfile" />
    <label for="file">Choose a image</label>

    <button (click)="addSale()">{{addORsave}}</button>
</form>
<table class="table">
    <tr>
        <th>#</th>
        <th>Type</th>
        <th>Gender</th>
        <th>Category</th>
        <th>Style</th>
        <th>Name</th>
        <th>Brand</th>
        <th>Price</th>
        <th>Description</th>
        <th>Count</th>
        <th>Color</th>
        <th>Date</th>
        <th>Size1</th>
        <th>Size2</th>
        <th>Size3</th>
        <th>Size4</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
        <tr *ngFor="let s of mySales; let i=index">
            <td>{{i+1}}</td>
            <td>{{s.type}}</td>
            <td>{{s.gender}}</td>
            <td>{{s.category}}</td>
            <td>{{s.style}}</td>
            <td>{{s.name}}</td>
            <td>{{s.brand}}</td>
            <td>{{s.price}}</td>
            <td>{{s.description}}</td>
            <td>{{s.count}}</td>
            <td>{{s.color}}</td>
            <td>{{s.date|date}}</td>
            <td>{{s.firstSize}}</td>
            <td>{{s.secondSize}}</td>
            <td>{{s.thirdSize}}</td>
            <td>{{s.fourthSize}}</td>
            <td>
                <button (click)="editSale(s)">Edit</button>
            </td>
            <td>
                <button (click)="deleteSale(s)">Delete</button>
            </td>
        </tr>
</table>